.fiction-section {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 7rem 2rem;
  overflow-x: visible;
}

.fiction-section .horizontal-gallery {
  margin-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
